.mobilebottomtab{
    display: none;
}

.header {
    position: sticky; top: 0;
    z-index: 1000;
}


@media only screen and (max-width: 600px) {
    .mobilebottomtab{
        display: block;
    }


  }

