<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card filter-card">
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1"
                            data-abc="true" aria-expanded="false" class="collapsed"> <i
                                class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Categories </h6>
                        </a> </header>
                    <div class="filter-content collapse" id="collapse_aside1" style="">
                        <div class="card-body">
                            <ul class="list-menu">
                                <li><a href="#" data-abc="true">Electronics </a></li>
                                <li><a href="#" data-abc="true">Watches </a></li>
                                <li><a href="#" data-abc="true">Laptops </a></li>
                                <li><a href="#" data-abc="true">Clothes </a></li>
                                <li><a href="#" data-abc="true">Accessories </a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2"
                            data-abc="true" aria-expanded="false" class="collapsed"> <i
                                class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Price </h6>
                        </a> </header>
                    <div class="filter-content collapse" id="collapse_aside2">
                        <div class="card-body"> <input type="range" class="custom-range" min="0" max="100" name="">
                            <div class="form-row">
                                <div class="form-group col-md-6"> <label>Min</label> <input class="form-control"
                                        placeholder="$0" type="number"> </div>
                                <div class="form-group text-right col-md-6"> <label>Max</label> <input
                                        class="form-control" placeholder="$1,0000" type="number"> </div>
                            </div> <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five"
                                data-abc="true">Apply Now</a>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside3"
                            data-abc="true" aria-expanded="false" class="collapsed"> <i
                                class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Size </h6>
                        </a> </header>
                    <div class="filter-content collapse" id="collapse_aside3" style="">
                        <div class="card-body"> <label class="checkbox-btn"> <input type="checkbox"> <span
                                    class="btn btn-light"> XS </span> </label> <label class="checkbox-btn"> <input
                                    type="checkbox"> <span class="btn btn-light"> SM </span> </label> <label
                                class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> LG </span>
                            </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light">
                                    XXL </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span
                                    class="btn btn-light"> XXXL </span> </label> </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside4"
                            data-abc="true" class="collapsed" aria-expanded="false"> <i
                                class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Rating </h6>
                        </a> </header>
                    <div class="filter-content collapse" id="collapse_aside4" style="">
                        <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked=""
                                    class="custom-control-input">
                                <div class="custom-control-label">Better </div>
                            </label> <label class="custom-control"> <input type="checkbox" checked=""
                                    class="custom-control-input">
                                <div class="custom-control-label">Best </div>
                            </label> <label class="custom-control"> <input type="checkbox" checked=""
                                    class="custom-control-input">
                                <div class="custom-control-label">Good</div>
                            </label> <label class="custom-control"> <input type="checkbox" checked=""
                                    class="custom-control-input">
                                <div class="custom-control-label">Not good</div>
                            </label> </div>
                    </div>
                </article>
            </div>

        </div>

        <div class="col-lg-9" style="margin: 7px 0 0 -46px;">
            <div class="dark-grey-text mt-2">
                <div class="card">
                    <div class="row">

                        <div class="col-lg-6 pl-3">

                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg"
                                class="img-fluid" alt="">

                        </div>

                        <div class="col-lg-6">
                            <div class="p-4">

                                <div class="mb-3">
                                    <a href="">
                                        <span class="badge purple mr-1">Category 2</span>
                                    </a>
                                    <a href="">
                                        <span class="badge blue mr-1">New</span>
                                    </a>
                                    <a href="">
                                        <span class="badge red mr-1">Bestseller</span>
                                    </a>
                                </div>

                                <p class="lead font-weight-bold">Porduct Name: {{productId}}</p>

                                <p class="lead">
                                    <span class="mr-1">
                                        <del>$200</del>
                                    </span>
                                    <span>$100</span>
                                </p>

                                <p class="lead font-weight-bold">Description</p>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos
                                    atque
                                    quia
                                    ipsa
                                    sint voluptatibus!
                                    Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia
                                    sapiente.
                                </p>

                                <form class="d-flex justify-content-left">
                                    <!-- Default input -->
                                    <input type="number" value="1" aria-label="Search" class="form-control"
                                        style="width: 100px">
                                    <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                                        <i class="fas fa-shopping-cart ml-1"></i>
                                    </button>

                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3 mb-3">
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta
                    odit
                    voluptates,
                    quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
        </div>
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid"
                    alt="">

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>

</div>
<!--Main layout-->

<!--Footer-->
<script>
    new WOW().init();
</script>